*__pycache__
.DS_Store
.git/
.github/
.ruff_cache/
pyrightconfig.json
README.md
LICENSE
.env
.venv
.envrc
.python-version
.vscode/
config/config.yaml
config/db
config/logs
lazygit*
node_modules/
frontend/node_modules
eslint.config.mjs
docker-compose.yml
.gitignore
frontend/.gitignore
frontend/dist
