*__pycache__
.ruff_cache
.env
.venv
.envrc
.vscode/
.DS_Store
config/config.yaml
config/db
config/logs
config/rclone
config/rclone_sa.json
lazygit*
docker-compose.yml
config/original_posters/
config/rclone*
pyrightconfig.json
node_modules/
