*__pycache__
.env
.venv
.envrc
.vscode/
.DS_Store
cache.json
config/config.yaml
config/db
config/logs
config/rclone
config/rclone_sa.json
lazygit*
docker_commands.txt
docker-compose.yml
config/original_posters/
config/rclone*
pyrightconfig.json
